

 <form class="form" #myform = "ngForm" (ngSubmit) = "myform.form.valid && onSubmit(myform)" >
<h2 mat-dialog-title>Create a post</h2>
<mat-dialog-content class="mat-typography">


<div>

    <div class="input-group mb-3" >
        <div class="input-group-prepend">
          <label class="input-group-text" for="subid">SubGroup</label>
        </div>
        <select required  class="form-control" id="subid" [(ngModel)]="subid" name="subid" >
            <option selected value="0">Choose...</option>
           <option *ngFor="let sub of data.subgroups" value="{{sub.id}}">{{sub.name}}</option>

        </select>
        </div>
<br>


        <input id="title"  class="form-control" type = "text" name = "title" placeholder = "title" ngModel required  minlength="4">
        <br/>
        <textarea required  minlength="4"  rows="4" cols="50" class="form-control" name = "description" placeholder = "Enter text here..." ngModel></textarea>
        <br/>
      </div>


  <p>The metadata for a component class associates it with a template that defines a view. A
  template combines ordinary HTML with Angular directives and binding markup that allow Angular
  to modify the HTML before rendering it for display.</p>

  <p>The metadata for a service class provides the information Angular needs to make it available
  to components through Dependency Injection (DI).</p>

  <p>An app's components typically define many views, arranged hierarchically. Angular provides
  the Router service to help you define navigation paths among views. The router provides
  sophisticated in-browser navigational capabilities.</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button  [disabled]="!myform.valid || subid==0" class="create-btn" type = "submit" value = "submit" mat-button [mat-dialog-close]="true" cdkFocusInitial>Create Post</button>
  </mat-dialog-actions>
</form>
