.navbar{
  background-color:#F6F6F6 !important;
  margin-bottom: 30px !important;
}

.profile_set{
  margin-right:150px !important;
}
.active>a{
  color: #FF6A30 !important;
  border-bottom: 3px solid #FF6A30;



}
.left_nav{
  margin-left: 20%;
}
.nav-item{
  margin-right: 15px;
}
.nav-item>a{
  margin-right: 15px;
  font-weight: 500;
}
.logo{
height: 40px;
}

