$color-primary:#61538E; //navbar
$color-primary-2:#594C81; // subjt
$color-grey-1:rgb(250, 250, 250); //menu search nav
$color-primary-red:rgb(226, 29, 62); //notification
$color-bg-grey-1:#F2F2F6;
$color-text-dark-1:#4B546B; //news card title
$color-grey-2:#79787E;
$color-grey-3:#F2F2F6; //menu search nav
