<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3 ">
      <div class="card">
          <img class="profile_pic rounded-circle" [src]="image">



        <div class="status">

        </div>


      </div>
    </div>
    <div class="col-9 ">
      <div class="card">
        <div class="status">


          <label class="btn btn-default">
            <input type="file" (change)="selectFile($event)">
          </label>

          <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
