<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3  ">
      <div class="card ">

 <div class="status ">
          Hello {{ username }} ! you are Logged in as {{ roles }}.
          And a member in group  {{ group }}
        </div>

      </div>
    </div>
    <div class="col-6 ">
      <div class="card">
        <div class="status">
      <div class="post" *ngFor="let post of allPosts.slice().reverse()">
        title : {{post.title}} <br>
        description : {{post.description}}
        <br>
        <br>
      </div>
      <div *ngIf="!allposts">
      There is no posts
      </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="status">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor Lorem ipsum dolor sit amet,

        </div>
      </div>
    </div>
  </div>
</div>
