<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-3  ">
      <div class="card ">
          <mat-form-field>
              <mat-label>Group</mat-label>
              <mat-select class="slectgroup" [disabled]="group.length==1"
              id="inputGroupSelect01"
              name="group"
              [(ngModel)]="selectedgroup"
              (ngModelChange)="getProfGroups('grp.group.id', $event)">
                <mat-option *ngFor="let grp of group; let i = index"
                [value]="grp.group.id">{{ grp.group.name }}</mat-option>
              </mat-select>
            </mat-form-field>




        <button
          class="btn btn-link "
          (click)="getProfGroups('grp.group.id', $event)"
        >
          All Posts
        </button>
        <div class="row"  *ngFor="let sub of subgroups">
          <div class="col-6">
            <button
            class="btn btn-light mt-3 btn-block"
            (click)="getsubPosts(sub.id)"

          >
            {{ sub.name }}
          </button>
            </div>
            <div class="col-6">
              <button  (click)="disableSub(sub.id)" type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              </div>

      </div>
      </div>
      <div class="card mt-3">
        <div class="status">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor Lorem ipsum dolor sit amet,
        </div>
          <button
          type="button"
          class="mt-3 create"
          mat-raised-button
          color="primary"
          (click)="openDialogSub()"
        >
          CREATE SUBGROUP
        </button>



        </div>
        <div class="card mt-3">
            <div class="status ">
          Hello {{ username }} ! you are Logged in as {{ roles }}. And a member
          in groups:<span *ngFor="let g of group"> {{ g.group.name }}</span>
        </div>
        </div>
             <div class="card mt-3">
        <div class="status">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor Lorem ipsum dolor sit amet,
        </div>
      </div>

    </div>
    <div class="col-6 ">
      <div class="card">
        <div class="status"  *ngFor="let post of allPosts">
             <div class="post" >
              <a  (click)="openDialogPost(post)">
            <img class="thumb rounded post_img" src="../../assets/images/post.png" alt="">
          </a>
            <div>
              <a   >
          <div class="post_title">
            {{ post.title}}
          </div>
        </a>
          <div class="post_info">
            Submitted in <span style="cursor: pointer;" >{{post.createdAt | date:'medium'}}</span>  by <span style="cursor: pointer;" >{{post.username}}</span> in <span style="color:#F9B54E;">/other</span>
          </div>

            <button *ngIf="owner(post.createdBy)" class="btn btn-link delete-post" (click)="deletePost(post.id)">delete</button>
          </div>
          </div>

          <div *ngIf="allPosts.length == 0">
            There is no posts
          </div>


        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="card">
        <div class="status">
          <div>

            <img class="icon" src="../../assets/images/pen.png" alt="">
            <span>Create a post</span>
          </div>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor Lorem ipsum dolor sit amet,
        </div>
        <button
          type="button"
          class="mt-3 create"
          mat-raised-button
          color="primary"
          (click)="openDialog()"
        >
          CREATE POST
        </button>
      </div>
      <div class="card mt-3" *ngIf="roles[0]=='ROLE_ADMIN' && PendingUsers.length!=0">
        <div class="status">
         <div  *ngFor="let p_user of PendingUsers">
           <div class="pendingUser">
              <img class="profile_pic " src="../../assets/images/profilepic.png">
          <span class="name" >{{p_user.name}}</span>
          <span class="activebtn"  > <button  class="btn btn-link " (click)="activateUser(p_user.id,p_user.name)"><i class="fas fa-check"></i></button> </span>

           </div>

        </div>
      </div>
    </div>
    <div class="card mt-3">
      <div class="status">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor Lorem ipsum dolor sit amet,
      </div>

    </div>
  </div>
</div>
<app-footer></app-footer>
